.wrapper {
  display: flex;
  gap: 10px;
  margin: 12px 0 14px 0;
  overflow-x: auto;
  padding: 0 0 6px 4vw;
}
.catBtn {
  border: none;
  background: #fffbf5;
  border-radius: 10px;
  box-shadow: 0 2px 6px #0001;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 14px;
  font-size: 15px;
  cursor: pointer;
  transition: background .2s;
}
.catBtn img {
  width: 24px;
  height: 24px;
}
