.lang-switcher {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 1px 4px #ddd;
  padding: 3px 7px;
  cursor: pointer;
  min-width: 48px;
  display: inline-block;
  font-size: 0.97rem;
  user-select: none;
  position: relative;
}
.lang-switcher img {
  width: 18px;
  vertical-align: middle;
  margin-right: 2px;
}
.lang-select {
  position: absolute;
  left: 0;
  top: 36px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 4px #ccc;
  z-index: 100;
  width: 64px;
  font-size: 0.97rem;
}
.lang-select div {
  padding: 5px 9px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.lang-select div:hover {
  background: #ffe000;
}
